<div id="setting-selection"> 
<h2>How-tos</h2>
<ol>
<li dir="auto">
<p><em>Set up a video room: <a ui-sref="room({room:'', type: 'Support'})">Support</a> or <a ui-sref="room({room:'', type: 'Sales'})">Sales</a>.</em></p>
</li>
<li dir="auto">
<p><em>Post the link(QR) on your web page and you client&nbsp;can click in to enter the room from the page or you can send direct link to your client via SMS Text.</em></p>
</li>
<li dir="auto">
<p><em>Your client can choose which device you want to enter the room and share video and whiteboard.</em></p>
</li>
<li dir="auto">
<p><em>If you are not online, your client can leave you message and snapshot.&nbsp;</em></p>
</li>
<li dir="auto">
<p><em>You can check your inbox later.&nbsp;</em></p>
</li>
</ol>
</div>