<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../../pro/vendor/intlTelInput/css/intlTelInput.css">
  	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  	<link rel="icon" href="data:;base64,=">
  	<link rel="stylesheet" href="../../css/main.css" type="text/css" media="screen" charset="utf-8">
</head>  
<body>
<div>
    <h2>Conference invite was sent successfully, please close.</h2>
    <center><button type="button" onclick="javascript:window.close();">Close</button></center>
</div>
</body>
 