<div id="setting-selection">
<h2>Frequent asked questions</h2>
<ol>
<li>
<p><strong>How do your client enters the room?</strong></p>
<ul>
<li>Your client will receive text with link: <img src="images/rtext.png" align="center" border="0" />.</li>
<li>Embeded Link in your webpage: <a href="https://www.youcast.net/pro/components/Enter/enter.html#KZDC9UZ1C3LZYSF18K2G"><img src="images/logobutton.png" align="center" border="0" /></a>.</li>
</ul>
<p>Your client will be given a link to enter the room in notification.
<hr>
</li>
<li>
<p><strong>How do you get notified when your client enters?</strong></p>
<ul>
<li>You will receive text with: <img src="images/stext.png" align="center" border="0" />.</li>
<li>Browser push with link: <img src="images/push.png" align="center" border="0" />.</li>
<li>Your phone will ring.</li>
</ul>
<p>You will be given a link to enter the room in notification. As the owner of the room, you are required to be autheticated by your creditial and then page will jump to real-time video page.</p>
<hr>
</li>
<li>
<p><strong>If you do not have chance to enter the room what will happen?</strong></p>
<ul>
<li>If the room is in support mode, the ring page will jump to subscribe page, where your client can leave sceenshots and message.</li>
<li>If the room is in sales mode, your client can only leave text message.</li>
</ul>
<hr>
</li>
<li>
<p><strong>When both you and your clients are in room, where are you storing snapshots?</strong></p>
<p>Saved snapshots will be stored in room's inbox: <img src="images/inbox.png" align="center" border="0" /></p>
<hr>
</li>
<li>
<p><strong>How to enable in the full screen mode on ios 11?</strong></p>
<p>Please follow the follow steps:</p>
<ol>
<li>
<img src="images/fullscreen0.jpg" align="center" border="0" />
</li>
<li>
<img src="images/fullscreen1.jpg" align="center" border="0" />
</li>
<li>
<img src="images/fullscreen2.jpg" align="center" border="0" />
</li>
<li>
<img src="images/fullscreen3.jpg" align="center" border="0" />
</li>
</ol>
<hr>
</li>
<li>
<p><strong>What device or browser your clients can use?</strong></p>
<p>We support Apple ios 11 and above, Google android 4.4 KitKat and above, Mac/Windows/Linux Mozilla firefox(22+) Google chrome(28+), Safari(11+), ChromeOS, Opera (18+).</p>
<hr>
</li>
<li>
<p><strong>How many client can enter one room in the same time?</strong></p>
<p>Right now, besides you, we only support one client enter the room a time, other clients will directly enter the subscriber page to leave message and snapshots.</p>
<hr>
</li>
<li>
<p><strong>Are your client required to log in to enter the room?</strong></p>
<p>No, we do not require your client to login.</p>
<hr>
</li>
</ol>
</div>